@import "../styles/variables";

.categories {
  position: absolute;
  left: 0;
  right: 0;
  top: $header-height;
  height: $categories-height;
  display: flex;
  align-items: center;
  box-shadow: $primary-box-shadow;

  &__list {
    display: flex;
    justify-content: space-between;
    width: 100%;

    li:hover {
      cursor: pointer;
    }
  }
}
