@import "../styles/variables";

.categories {
  height: $categories-height;
  display: flex;
  align-items: center;
  box-shadow: $primary-box-shadow;

  &__list {
    display: flex;
    justify-content: space-between;
    width: 100%;

    li:hover {
      cursor: pointer;
    }
  }
}
