@import "../../shared/styles/variables";

.listing {
  margin-top: 30px;
  &__state {
    width: 50px;
    height: 20px;
    border-radius: $primary-border-radius;
    background-color: $primary-grey-color;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__price {
    margin: 20px 0;
  }

  &__carousel {
    width: 90%;
    height: 600px;
  }

  &__description {
    margin-top: 20px;
  }
}

.x {
  border: 1px solid red;
}
