@import "../../shared/styles/variables";

.listing-card {
  //   border: 1px solid red;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 300px;
  height: 250px;
  box-shadow: $primary-box-shadow;
  border-radius: $primary-border-radius;
  margin: 20px;
  background-color: $light-gray-color;

  &:hover {
    box-shadow: $secondary-box-shadow;
  }

  &__img-wrap {
    display: flex;
    height: 70%;
  }

  &__img {
    border-top-left-radius: $primary-border-radius;
    border-top-right-radius: $primary-border-radius;
    width: 100%;
  }

  &__content {
    flex-grow: 4;
  }
}
