@import "../../shared/styles/variables";

.account {
  display: flex;
  margin-top: 30px;

  &__options {
    display: flex;
    flex-direction: column;
    border: 1px solid red;
    width: 20%;
  }

  &__photo-wrap {
    border: 1px solid green;
    width: 100%;
    height: 200px;
    border-radius: $avatar-border-radius;
    margin: 20px 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__upload-photo {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.4);
    & label {
      margin-left: 35%;
      color: #fff;
    }
  }

  &__content {
    border: 1px solid blue;
    width: 80%;
    padding: 20px 10px;
  }

  &__info {
    h2 {
      padding: 0;
      margin: 0;
    }

    small {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 20px;
      background: $primary-grey-color;
      border-radius: $primary-border-radius;
    }
  }

  &__listings {
    margin-top: 30px;
  }
}
