<div class="header">
  <div class="container header__container">
    <div class="header__logo-search-wrap">
      <div class="header__logo">
        <h1 [routerLink]="['/']">MARKET BOARD</h1>
      </div>

      <form [formGroup]="searchForm" (ngSubmit)="searchHandler()">
        <div class="input-group flex-nowrap">
          <div class="input-group-prepend">
            <span class="input-group-text" id="addon-wrapping">
              <i class="material-icons">search</i>
            </span>
          </div>
          <input
            type="text"
            class="form-control"
            placeholder="clothes, sport..."
            formControlName="search"
          />
        </div>
      </form>
    </div>

    <nav>
      <ul class="header__list">
        <li>
          <a [routerLink]="['/listing', 'create']" class="header__list--create"
            >Create listing</a
          >
        </li>
        <li *ngIf="!isLogged; else isLoggedPanel">
          <a [routerLink]="['/login']">Login</a>
        </li>
        <ng-template #isLoggedPanel>
          <li>
            <a [routerLink]="['/account']">Account</a>
            <button (click)="logout()">Logout</button>
          </li>
        </ng-template>
      </ul>
    </nav>
  </div>
</div>

<ng-template>
  <li>
    <button class="btn btn-primary" (click)="logoutHandler()">Logout</button>
  </li>
</ng-template>
