// colors
$primary-white-color: #fff;
$light-gray-color: #999;

//layouts
$header-height: 70px;
$categories-height: 60px;

//features
$primary-box-shadow: 0 8px 15px rgba(0, 0, 0, 0.25);
$primary-border-radius: 5px;
