// colors
$primary-white-color: #fff;
$light-gray-color: #999;

//layouts
$header-height: 70px;
$categories-height: 60px;
$page-height: 82vh;

//features
$primary-box-shadow: 0 8px 15px rgba(0, 0, 0, 0.25);
$secondary-box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.4);
$primary-border-radius: 5px;
