@import "../../../shared/styles/variables";

.board {
  width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  padding: 20px 30px;

  &__filter {
    width: 29%;
  }

  &__content {
    width: 70%;
  }

  &__main-section {
    display: flex;
    width: 100%;
    height: 75%;
    flex-wrap: wrap;

    & * {
      width: 33%;
    }
  }
}
