/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import url("https://fonts.googleapis.com/css?family=Roboto");
@import "./app/shared/styles/variables";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #e4e5e6;
  height: 100%;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.invalid {
  color: red;

  input {
    border: 1px solid red;
  }
}
