<form class="filter" [formGroup]="filterForm">
  <h2>{{ "filter" | uppercase }}</h2>
  <div class="filter__control">
    <label for="city">City</label>
    <select class="form-control" id="city" formControlName="city">
      <option value="01">Brest</option>
      <option value="02">Vitebsk</option>
      <option value="03">Gomel</option>
      <option value="04">Grodno</option>
      <option value="05">Minsk obl.</option>
      <option value="06">Mogilev</option>
      <option value="07">Minsk</option>
    </select>
  </div>

  <div class="filter__control">
    <label for="category">Category</label>
    <select class="form-control" id="category" formControlName="category">
      <option value="sport01">Sport</option>
      <option value="male01">Male</option>
      <option value="female01">Female</option>
      <option value="clothes01">Clothes</option>
      <option value="electro01">Electronics</option>
    </select>
  </div>

  <div class="filter__control">
    <span>Price:</span>
    <div class="price-wrap">
      <input
        class="form-control"
        type="number"
        placeholder="from"
        formControlName="from"
      />
      <input
        class="form-control"
        type="number"
        placeholder="to"
        formControlName="to"
      />
    </div>
  </div>

  <div class="filter__control">
    <span>State:</span>
    <div class="form-check">
      <input
        class="form-check-input"
        type="radio"
        name="state"
        id="all"
        value="all"
        formControlName="state"
        checked
      />
      <label class="form-check-label" for="all">
        All
      </label>
    </div>
    <div class="form-check">
      <input
        class="form-check-input"
        type="radio"
        name="state"
        id="new"
        value="new"
        formControlName="state"
      />
      <label class="form-check-label" for="new">
        New
      </label>
    </div>
    <div class="form-check">
      <input
        class="form-check-input"
        type="radio"
        name="state"
        id="used"
        value="used"
        formControlName="state"
      />
      <label class="form-check-label" for="used">
        Used
      </label>
    </div>
  </div>
  <button (click)="resetFilter()" class="btn btn-primary filter__btn">
    Reset filter
  </button>
</form>
